Browse pups!

<% @dogs.each do |dog| %>
<ul>
<li>
<%= link_to dog.name, dog_path(dog) %>
<% if dog.photo? %>
  <%= cl_image_tag dog.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
</li>
</ul>
<% end %>
