Browse pups!

<%# @dogs.each do |dog| %>
<!-- <div class="text-center dog-index">
 --><!-- <div> -->
<!-- <h4> --><%#= link_to dog.name, dog_path(dog) %><!-- </h4> -->
<!-- </div> -->
<%# if dog.photo? %>
<!-- <div> -->
  <%#cl_image_tag dog.photo.path, width: 200, height: 300, crop: :fill %>
<%# end %>
<!-- </div>
</div> -->
<%# end %>



<div class= "row">
  <% @dogs.each do |dog| %>
    <% if dog.photo? %>
  <div class="col-lg-3">
      <%= link_to dog_path(dog) do %>
       <%= cl_image_tag dog.photo.path, width: 200, height: 200, crop: :fill  %>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
