<div class="text-center">
  This is user dashboard
  <br>
  <%= link_to "Add your pet", new_dog_path %>
</div>

<div class="text-center">
<% if current_user.owned_dogs.count > 0 %>
  <h3>Your Pup</h3>
  <% current_user.owned_dogs.each do |dog| %>
  <ul>
    <li>
      <%= dog.name %>
    </li>
  </ul>
  <% end %>
<% else %>
  <p>You don't have any dogs!</p>
<% end %>
</div>

<div class="text-center">
  <% if current_user.booked_dogs.count > 0 %>
  <h3>Your upcoming puppy play dates:</h3>
  <% current_user.booked_dogs.each do |dog| %>
  <%= link_to dog.name, dog_path(dog) %>
  <% end %>
  <% end %>
</div>





